# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview

(Paragraph)
* The test overall showed that Destiny 2 seems to be random with its glitches. Sometimes visuals, sometimes audio, sometime the players visuals get all funny. Destiny 2 is in year 4 I believe, and things like this still occur. Though I can't really blame them as the scope of the game is huge. Insanely huge when you think about it. But overall the controls are fine, menus work flawlessly, and I still had fun for awhile.

#### Number of Test performed

4

#### Number of Defects

The defects in the game are small and random. Should be looked into with automative testing and some time to fix it. Otherwise none of it is game breaking for the most part. I (William) found small ones, but Cody has more experience in Destiny 2.

#### Requirements Status

(Paragraph)
* According to your test plan requirements did your test case runs meet your listed requirements.

### Test Environment

Production Environment, this is because the game has already released on many platforms. This allows some acceptance criteria as there can be a bunch of community feedback and allows us to not keep an eye on some bugs. Every week theres a decent update which can bring in new bugs. So keeping track might be difficult.

#### Hardware Configuration

We ran our test on a PC, and an XBox. So for the controls test it was using both keyboard/mouse and controller on both platforms. It is limited as Destiny is on Pc, Xbox, and Playstation. And neither of us play on a playstation. On the PC version, the graphic driver was on a Geforce 2070 Super.

### Recommendation

(Paragraphs)
* Very technical summary of the results and where things can be improved or what course of action the game should take as a result of the testing.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| Destiny 2 Controls | Pass | William CarasasFigueroa | 001 | Used Keyboard/Mouse and Controller |
| Destiny 2 Controls | Passish | William CarasasFigueroa | 002 | Did lots of vanguard strikes to record defects (never again) |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
|Destiny 2 mechanics | The warlocks drift is very unstable in the sense of if you boost after jumping and fall a little after jumping you will not boost up.|it makes it a harder to make some jumps when doing jump puzzles |3|
| | | |
| | | |
| | | |
| | | |
